.slick-dots > li > button::before {
  margin-top: 20px;
  color: #bf8425;
  font-size: 10px;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  font-size: 16px;
  opacity: 1;
  color: #bf8425;
}

.slick-prev {
  top: 50%;
  left: 100%;
}

.slick-next {
  top: 70%;
  left: 100%;
}

.slick-prev:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../../assets/images/Carousel/previous.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
}

.slick-next:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../../assets/images/Carousel/next.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  transform: scale(125%);
  transition: transform;
  transition-duration: 300ms;
}
